/* This file is for your main application css. */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Pacifico:400,700|Proza+Libre:400,700&display=swap&subset=latin-ext');

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
} 

body {
  font-family: 'Proza Libre', sans-serif;
}

.kruszcz-header {
  text-align: center;
}

.kruszcz-header h1 {
  font-family: 'Pacifico', serif;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 10vw;
} 

.kruszcz-header h2 {
  font-size: 1rem;
}

@media only screen and (min-width:48em) {
  .kruszcz-header h1 {
    font-size: 5rem;
  } 

  .kruszcz-header h2 {
    font-size: 2rem;
  }
}

.kruszcz-header a {
  color: inherit;
  text-decoration: none;
}

.kruszcz-header a:hover {
  color: #454545;
  text-decoration: none;
}

.kruszcz-body.center {
  text-align: center;
  padding: 2rem 0;
}

.kruszcz-icon {
  display: block;
  width: 10rem;
  margin: 2rem auto;
}

.crazy-link {
  color: inherit;
  transition: color 200ms;
  text-decoration: none;
}

.crazy-link:hover {
  color: #454545;
  transition: color 200ms;
  text-decoration: none;
}
