/* This file is for your main application css. */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Pacifico:400,700|Proza+Libre:400,700&display=swap&subset=latin-ext');

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
} 

body {
  font-family: 'Proza Libre', sans-serif;
}

.kruszcz-header {
  color: white;
  text-align: center;
}

.kruszcz-header h1 {
  font-family: 'Pacifico', serif;
  padding-bottom: 1rem;
  font-size: 10vw;
} 

@media only screen and (min-width:48em) {
  .kruszcz-header h1 {
    font-size: 5rem;
  } 
}

.kruszcz-header .row {
  padding: 36rem 0 4rem;
}

.kruszcz-body.center {
  text-align: center;
  padding: 2rem 0;
}

.kruszcz-icon {
  display: block;
  width: 10rem;
  margin: 2rem auto;
}
